<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img
      src="../assets/Resources/Hot.webp"
      *ngIf="weatherData.currentConditions.temp > 42"
    />
    <img
      src="../assets/Resources/cold.jpeg"
      *ngIf="weatherData.currentConditions.temp <= 42"
    />

    <div class="weather-data">
      <div class="location">{{ weatherData.address }}</div>
      <div class="temperature">
        {{ weatherData.currentConditions.temp | number : "1.0-0" }}°F
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-container">
      <div class="more-info-label">More Information</div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png" />
          <span>min</span>
        </div>

        <div class="info-block-value">
          {{ weatherData.days[0].tempmin | number : "1.0-0" }}°F
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.days[0].tempmax | number : "1.0-0" }}°F
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png" />
          <span>humidity</span>
        </div>

        <div class="info-block-value">
          {{ weatherData.currentConditions.humidity | number : "1.0-0" }}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png" />
          <span>wind speed</span>
        </div>

        <div class="info-block-value">
          {{ weatherData.currentConditions.windspeed }} mph
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/Resources/Hot.webp" *ngIf="14 <= 15" />
    <img src="../assets/Resources/cold.jpeg" *ngIf="14 > 15" />

    <div class="weather-data">
      <div class="location">Wellington</div>
      <div class="temperature">{{ 14.4 | number : "1.0-0" }}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-container">
      <div class="more-info-label">More Information</div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png" />
          <span>min</span>
        </div>

        <div class="info-block-value">10°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">20°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png" />
          <span>humidity</span>
        </div>

        <div class="info-block-value">77%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png" />
          <span>wind speed</span>
        </div>

        <div class="info-block-value">11km/h</div>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
